hw1/data/*
hw1/data_bak/*
hw1/rob831/agents/__pycache__/*
hw1/rob831/infrastructure/__pycache__/*
hw1/rob831/policies/__pycache__/*
hw1/rob831/scripts/__pycache__/*
*.zip
hw1/run_logs/*
hw1/rob831.egg-info/*
*.png
*.csv
hw2/data/*
hw2/rob831/__pycache__/*
hw2/rob831/agents/__pycache__/*
hw2/rob831/infrastructure/__pycache__/*
hw2/rob831/policies/__pycache__/*
hw2/rob831/scripts/__pycache__/*
hw2/run_logs/*
hw2/rob831.egg-info/*
hw3/rob831.egg-info/*
hw3/data/*
hw3/rob831/__pycache__/*
hw3/rob831/agents/__pycache__/*
hw3/rob831/infrastructure/__pycache__/*
hw3/rob831/policies/__pycache__/*
hw3/rob831/scripts/__pycache__/*
hw3/run_logs/*
hw3/rob831/critics/*
hw3/rob831/envs/__pycache__/__init__.cpython-310.pyc
hw3/rob831/envs/box2d/__pycache__/__init__.cpython-310.pyc
hw3/rob831/envs/box2d/__pycache__/lunar_lander.cpython-310.pyc
hw3/rob831/infrastructure/monitoring/__pycache__/stats_recorder.cpython-310.pyc
hw3/rob831/infrastructure/monitoring/__pycache__/video_recorder.cpython-310.pyc
hw3/rob831/infrastructure/monitoring/utils/__pycache__/atomic_write.cpython-310.pyc
hw3/rob831/infrastructure/monitoring/utils/__pycache__/closer.cpython-310.pyc
hw3/rob831/infrastructure/monitoring/utils/__pycache__/json_utils.cpython-310.pyc
