hw1/data/*
hw1/data_bak/*
hw1/rob831/agents/__pycache__/*
hw1/rob831/infrastructure/__pycache__/*
hw1/rob831/policies/__pycache__/*
hw1/rob831/scripts/__pycache__/*
*.zip
hw1/run_logs/*
hw1/rob831.egg-info/*
*.png
*.csv
hw2/data/*
hw2/rob831/__pycache__/*
hw2/rob831/agents/__pycache__/*
hw2/rob831/infrastructure/__pycache__/*
hw2/rob831/policies/__pycache__/*
hw2/rob831/scripts/__pycache__/*
hw2/run_logs/*
hw2/rob831.egg-info/*
hw3/rob831.egg-info/*
hw3/data/*
hw3/rob831/__pycache__/*
hw3/rob831/agents/__pycache__/*
hw3/rob831/infrastructure/__pycache__/*
hw3/rob831/policies/__pycache__/*
hw3/rob831/scripts/__pycache__/*
hw3/run_logs/*
hw3/rob831/critics/*
hw3/rob831/envs/__pycache__/__init__.cpython-310.pyc
hw3/rob831/envs/box2d/__pycache__/__init__.cpython-310.pyc
hw3/rob831/envs/box2d/__pycache__/lunar_lander.cpython-310.pyc
hw3/rob831/infrastructure/monitoring/__pycache__/stats_recorder.cpython-310.pyc
hw3/rob831/infrastructure/monitoring/__pycache__/video_recorder.cpython-310.pyc
hw3/rob831/infrastructure/monitoring/utils/__pycache__/atomic_write.cpython-310.pyc
hw3/rob831/infrastructure/monitoring/utils/__pycache__/closer.cpython-310.pyc
hw3/rob831/infrastructure/monitoring/utils/__pycache__/json_utils.cpython-310.pyc
hw4/rob831.egg-info/*
hw4/rob831/data/*
hw4/rob831/__pycache__/*
hw4/rob831/hw4_part1/agents/__pycache__/*
hw4/rob831/hw4_part1/critics/__pycache__/*
hw4/rob831/hw4_part1/envs/__pycache__/*
hw4/rob831/infrastructure/__pycache__/*
hw4/rob831/policies/__pycache__/*
hw4/rob831/scripts/__pycache__/*
hw4/run_logs/*
hw4/rob831/critics/*
hw4/rob831/envs/__pycache__/__init__.cpython-310.pyc
hw4/rob831/envs/box2d/__pycache__/__init__.cpython-310.pyc
hw4/rob831/envs/box2d/__pycache__/lunar_lander.cpython-310.pyc
hw4/rob831/infrastructure/monitoring/__pycache__/stats_recorder.cpython-310.pyc
hw4/rob831/infrastructure/monitoring/__pycache__/video_recorder.cpython-310.pyc
hw4/rob831/infrastructure/monitoring/utils/__pycache__/atomic_write.cpython-310.pyc
hw4/rob831/infrastructure/monitoring/utils/__pycache__/closer.cpython-310.pyc
hw4/rob831/infrastructure/monitoring/utils/__pycache__/json_utils.cpython-310.pyc
hw2/rob831/scripts/GAE.sh
hw2/rob831/scripts/halfcheetah_bonus_batch_lr_experiment.sh
hw2/rob831/scripts/halfcheetah_bonus_given_experiments.sh
hw2/rob831/scripts/halfcheetah_experiments.sh
hw2/rob831/scripts/inverted_pendulum_experiments.sh
hw2/rob831/scripts/run_all.sh
hw2/rob831/scripts/run_test.sh
hw2/rob831/scripts/test1.sh
hw2/rob831/scripts/test2.sh
hw2/rob831/scripts/test3.sh
hw4/rob831/hw4_part1/__pycache__/__init__.cpython-310.pyc
hw4/rob831/hw4_part1/envs/cheetah/__pycache__/__init__.cpython-310.pyc
hw4/rob831/hw4_part1/envs/obstacles/__pycache__/__init__.cpython-310.pyc
hw4/rob831/hw4_part1/envs/cheetah/__pycache__/cheetah.cpython-310.pyc
hw4/rob831/hw4_part1/envs/obstacles/__pycache__/obstacles_env.cpython-310.pyc
hw4/rob831/hw4_part1/envs/reacher/__pycache__/__init__.cpython-310.pyc
hw4/rob831/hw4_part1/envs/reacher/__pycache__/reacher_env.cpython-310.pyc
hw4/rob831/hw4_part1/infrastructure/__pycache__/logger.cpython-310.pyc
hw4/rob831/hw4_part1/infrastructure/__pycache__/pytorch_util.cpython-310.pyc
hw4/rob831/hw4_part1/infrastructure/__pycache__/replay_buffer.cpython-310.pyc
hw4/rob831/hw4_part1/infrastructure/__pycache__/rl_trainer.cpython-310.pyc
hw4/rob831/hw4_part1/infrastructure/__pycache__/utils.cpython-310.pyc
hw4/rob831/hw4_part1/infrastructure/__pycache__/sac_utils.cpython-310.pyc
hw4/rob831/hw4_part1/models/__pycache__/base_model.cpython-310.pyc
hw4/rob831/hw4_part1/models/__pycache__/ff_model.cpython-310.pyc
hw4/rob831/hw4_part1/policies/__pycache__/base_policy.cpython-310.pyc
hw4/rob831/hw4_part1/policies/__pycache__/MLP_policy.cpython-310.pyc
hw4/rob831/hw4_part1/policies/__pycache__/MPC_policy.cpython-310.pyc
hw4/rob831/hw4_part1/policies/__pycache__/sac_policy.cpython-310.pyc
